.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main_div{
  text-align: center;
}
.main_div header h2{
  background: red;
  margin: 0;
  padding: 15px;
  color: #fff;
}
.image-section img{
  width: 300px;
  height: 100%;
  border-radius: 10px;
}
.travel-place{
  display:flex;
  justify-content: center;
  border-bottom:1px solid #000;
  margin-bottom:15px;
  margin: 0 auto;
  width:50%;
  padding:30px;
}
.travel-info{
  width:50%;
  margin-left:15px;
  text-align: left;
}
.top-info .country{
  color: #484545;
  padding-right:15px;
  text-transform: uppercase;
  font-weight: bold;
}
.top-info .google_link a{
  color:#ccc;
}
.dates{
  font-weight: bold;
}